.topicos {
    background: var(--azul-degrade);
    padding: 1em;
}

.topicos__titulo {
    text-align: center;
    color: var(--branco);
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0.5em  0  1.25em  0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.topicos__item {
    background: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
    padding: 0.9em;
}

.topicos__link {
    text-decoration: none;
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
}